
.text {
    font-family: Serif;
    font-style: Normal;
    font-size: large;
    line-height: 1.7;
    text-align: center;

}
.title {
    font-size: xx-large;
    font-weight: bold;
    font-family: Serif;
}
.text_b {
    font-family: Serif;
    font-style: Normal;
    font-size: large;
    line-height: 1.7;
    text-align: justify;
    font-weight: bold;
}
.mgslider-show{
    position: absolute;
    left: 50%;
    margin-top: 20px;
}
.mgslider-show2{
    position: absolute;
    left: 50%;
    margin-top: 20px;
}
.positioningava{
    width: 5%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.positioningava1{
    width: 10%;
    position: relative;



}
.positioning12{
    width: 100px;
    position: relative;
    left: 35%;
    margin-top: 10px;



}
.text1{
    position: relative;
    left: 30%;
    margin-top: 10px;



}
#slider{
        width: 70%;
        height: 70px;
        outline: none;
        border-radius: 3px;
}
.positioning1{
    float: left; width: 100%;



}
.bt2{
    background-color: red;
    position: absolute;
    right: 20%;
}
.bt3{background-color: red;
    position: absolute;
    right: 20%;}





.mgslider-wrapper {
            border-spacing: 10px;
            position: relative;
            width: 100%;

        }
.mgslider-limit {
            width: 10%;
            min-width: 75px;
            height: 40px;
            margin: 100px;
            text-align: center;
            background: #eee;
            border: 1px solid #888;
        }
.mgslider-limit, .mgslider-value {
            font-variant-numeric: tabular-nums;
        }
.mgslider-before {
            height: 16px;
            width: 100%;
            background: #1e5bff;

        }
