{{ block of styles }}
<style>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;

}

.element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 2px solid black;
    font-size: 250px;
}
</style>
{{ endblock }}


{% block content %}
<div class="container">
<div class="element">
<div id="rn_cisla"></div>
        </div>
</div>
    <br>
<div id="myElement"> Opište čísla v opačném pořadí:
<input type="text" id="input-num">
<button type="button" onclick="checkNum()" >Odeslat</button>
    <p id="vysedek"></p>
    </div>

{% endblock %}

{% block scripts %}

<script>



    var plist = {{xd2 | json}};
    let retezec = document.getElementById("rn_cisla");
    let index = 0;
    var input = document.getElementById("myElement");
    input.style.display = "none";
    retezec.style.display= "none";


    const interval = setInterval(
        () =>{
            if(index>=plist.length){
                clearInterval(interval);
                retezec.style.display= "none";
                input.style.display = "block";
                return;
            }
            retezec.style.display= "block";
            retezec.innerHTML = "";
            setTimeout(() => {
             retezec.innerHTML = plist[index];
            index++;
  }, 250);


        },1000


    )




    function showNumber(){
    var plist = {{xd2 | json}};
    let retezec = document.getElementById("rn_cisla");
    let index = 0;
    var input = document.getElementById("myElement");
    input.style.display = "none";
    retezec.style.display= "none";


    const interval = setInterval(
        () =>{
            if(index>=plist.length){
                clearInterval(interval);
                retezec.style.display= "none";
                input.style.display = "block";
                return;
            }
            retezec.style.display= "block";
            retezec.innerHTML = "";
            setTimeout(() => {
             retezec.innerHTML = plist[index];
            index++;
  }, 500);


        },500


    )
    }

    function checkNum(){
        var inp2 = document.getElementById("input-num").value;
        var inp = inp2.split('').map(Number);
        var ret = plist.reverse();
        var isCorrect = true;
        for (var i = 0; i < ret.length; i++) {
        if (ret[i] !== inp[i]) {
        isCorrect = false;
        break;
                 }
            }

        if (isCorrect){
            document.getElementById("vysedek").innerHTML = "SPRÁVNĚ!"
            liveSend({'t':'answer','answer':"spravne" })
        }
        else {
            document.getElementById("vysedek").innerHTML = "ŠPATNĚ, máte ještě jeden pokus!"
            liveSend({'t':'answer','answer':"spatne" })
        }

    }


    function liveRecv(data){
                    let t = data.t
                    if (t === 'ok'){
                        setTimeout(() => {
                            location.reload();

                            }, 500);

                        }
                    if (t === 'notok'){

                        setTimeout(() => {
                            location.reload();

                            }, 500);

                    }

                    if (t === 'ggwp'){
                        $('#form')[0].submit();
                    }
                        }
</script>
{% endblock %}