{{ block of styles }}
<link rel="stylesheet" type="text/css" href="{{ static 'global/styles.css' }}"/>
{{ endblock }}
{{ block content }}
<b>{{ Kolo }} / 5</b>
<div class="text2">
    Jste v roli hráče A. Můžete poslat libovolnou částku od 0 do 100 Kč hráči B.
</div>
<br>

<div class="text2">
    Hráč B tvrdí, že se vám navrátí {{ B_message }} procent z částky, kterou hráči B odešlete.

</div>
<br>
<div class="text2">
     Hráč C{{ if Treatment == "1" or Treatment == "2" }} viděl rozhodnutí hráče B {{ endif }}{{ if Treatment == "3" or Treatment == "4" }} neviděl rozhodnutí hráče B {{ endif }}a tvrdí, že se vám navrátí {{ C_message }} procent z částky, kterou hráči B odešlete.
</div>
<br>
<div class="text2">
    {{ formfields }}
</div>
<br>

    {{ next_button }}

{{ endblock }}
