{{ block of styles }}
<link rel="stylesheet" type="text/css" href="{{ static 'global/styles.css' }}"/>
{{ endblock }}
{{ block content }}
<div class="title">Výsledky prvního experimentu</div>
<br>
<div class="text2">{{ PrvniVeta }}</div>
<br>
{{ if CoSePlati <= 3 }}
<div class="text2">
Byla vylosována {{ Typhry }}. hra.
</div>
<br>
<div class="text2">Váš vylosovaný náklad byl: {{ naklad }} Kč.</div>
<br>
<div class="text2">
    Vylosovaný náklad druhého hráče byl: {{ soupernaklad }} Kč.
</div>
<br>
<div class="text2">Vy jste zvolil {{ mojevolba }}.</div>
<br>
<div class="text2">
    Druhý hráč zvolil {{ soupervolba }}.
</div>
<br>
<div class="text2">
    Vaše výplata {{ vyhra }} Kč.
</div>
{{ endif }}
{{ if CoSePlati > 3 }}
<div class="text2">
Byla vylosována {{ Typhry }}. hra.
</div>
<br>
<div class="text2">
Výsledná preference byla: {{ Pref }} hra.
</div>
<br>
<div class="text2">Váš vylosovaný náklad byl: {{ Naklady }} Kč.</div>
<br>
<div class="text2">
    Vylosovaný náklad druhého hráče byl: {{ NakladySouper }} Kč.
</div>
<br>
<div class="text2">Vy jste zvolil {{ FinVolba }}.</div>
<br>
<div class="text2">
    Druhý hráč zvolil {{ SouperVolba }}.
</div>
<br>
<div class="text2">
    Vaše výplata {{ Vyhra }} Kč.
</div>
{{ endif }}

<br>
    {{ next_button }}

{{ endblock }}