{{ block of styles }}
<style>
  .styled-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 400px; /* Přizpůsob šířku tabulky podle potřeby */
    margin: 0 auto; /* Zarovnání tabulky na střed stránky */  /* Zarovnání tabulky na střed stránky */
  }

  .styled-table td,
  .styled-table th {
    border: 1px solid #000; /* Tloušťka a barva okrajů buněk */
    padding: 8px; /* Odsazení textu uvnitř buněk */
    text-align: center; /* Zarovnání textu na střed buněk */
  }

  .styled-table th {
    background-color: #f2f2f2; /* Zvýraznění pozadí záhlaví tabulky */
  }

  .table-container {
      width: 42%;
    display: inline-block;
      margin-right: 50px;
  }

  .two-cell-table {
    width: 100%;
    max-width: 450px; /* Přizpůsob šířku tabulky podle potřeby */
    margin: 20px auto; /* Zarovnání tabulky na střed stránky s mezerou */
  }

  .two-cell-table td {
    border: 1px solid #000; /* Tloušťka a barva okrajů buněk */
    padding: 8px; /* Odsazení textu uvnitř buněk */
    text-align: center; /* Zarovnání textu na střed buněk */
  }
  .nadpis{
  font-size: 24px;

  font-weight: bold; /* Tučné písmo */
  }
</style>
{{ endblock }}

{{ block content }}
<b>{{ Kolo }} / 5</b>
<div>
U hry vlevo i vpravo zvolte, zda budete hrát A nebo B pro všechny své náklady na akci A (C1). Na posledním řádku také uveďte, která z těchto her by měla určit vaši výplatu. Vaše akce v každé výplatní matici odpovídají řádkům a akce druhého hráče sloupcům.<b> Jak to bylo v předchozích hrách, tučně napsané výplaty nahoře patří Vám a výplaty dole druhému hráči.</b> Výplaty druhého hráče v levém sloupci každé matice závisí na jeho nákladu C2 který bude náhodně vybrán z těchto deseti hodnot: 10, 30, 50, 70, 90, 110, 130, 150, 170, 190.
</div>
<br>
<div class="table-container">
    <div class="nadpis">Hra vlevo</div>
{{ for x in c}}
<div class="styled-table">
<table>
    <tr>
        <th colspan="5"><th colspan="2">Druhý hráč</th><th colspan="2" rowspan="2">Vaše volba</th>
    </tr>
    <tr>
        <th rowspan="3" colspan="3">C1={{ x.0 }}</th><th></th><th></th><th>A</th><th>B</th>
    </tr>
    <tr>
        <th rowspan="2">Já</th><th>A</th><td><b>{{ x.1 }}</b><br> {{ x.9 }} - C2 </td><td><b>{{ x.3 }}</b><br> {{ x.4 }}</td><td rowspan="2">
                {{ if x.0 == 10 }}
                {{ formfield "hraA1L"  }}
                {{ endif }}
        {{ if x.0 == 30 }}
                {{ formfield "hraA2L"  }}
                {{ endif }}
        {{ if x.0 == 50 }}
                {{ formfield "hraA3L"  }}
                {{ endif }}
        {{ if x.0 == 70 }}
                {{ formfield "hraA4L"  }}
                {{ endif }}
        {{ if x.0 == 90 }}
                {{ formfield "hraA5L"  }}
                {{ endif }}
        {{ if x.0 == 110 }}
                {{ formfield "hraA6L"  }}
                {{ endif }}
        {{ if x.0 == 130 }}
                {{ formfield "hraA7L"  }}
                {{ endif }}
        {{ if x.0 == 150 }}
                {{ formfield "hraA8L"  }}
                {{ endif }}
        {{ if x.0 == 170 }}
                {{ formfield "hraA9L"  }}
                {{ endif }}
        {{ if x.0 == 190 }}
                {{ formfield "hraA10L"  }}
                {{ endif }}
                </td>
    </tr>
    <tr>
        <th>B</th><td><b>{{ x.5 }}</b><br> {{ x.6 }} - C2</td><td><b>{{ x.7 }}</b><br> {{ x.8 }}</td>
    </tr>
</table>
</div>
    {{ endfor }}
</div>


<!-- Kód pro druhou tabulku zde -->
<div class="table-container">
    <div class="nadpis"> Hra vpravo</div>
    {{ for y in k}}
<div class="styled-table">
<table>
    <tr>
        <th colspan="5"><th colspan="2">Druhý hráč</th><th colspan="2" rowspan="2">Vaše volba</th>
    </tr>
    <tr>
        <th rowspan="3" colspan="3">C1={{ y.0 }}</th><th></th><th></th><th>A</th><th>B</th>
    </tr>
    <tr>
        <th rowspan="2">Já</th><th>A</th><td><b>{{ y.1 }}</b><br> {{ y.9 }} - C2</td><td><b>{{ y.3 }}</b><br> {{ y.4 }}</td><td rowspan="2">
                {{ if y.0 == 10 }}
                {{ formfield "hraA1P"  }}
                {{ endif }}
        {{ if y.0 == 30 }}
                {{ formfield "hraA2P"  }}
                {{ endif }}
        {{ if y.0 == 50 }}
                {{ formfield "hraA3P"  }}
                {{ endif }}
        {{ if y.0 == 70 }}
                {{ formfield "hraA4P"  }}
                {{ endif }}
        {{ if y.0 == 90 }}
                {{ formfield "hraA5P"  }}
                {{ endif }}
        {{ if y.0 == 110 }}
                {{ formfield "hraA6P"  }}
                {{ endif }}
        {{ if y.0 == 130 }}
                {{ formfield "hraA7P"  }}
                {{ endif }}
        {{ if y.0 == 150 }}
                {{ formfield "hraA8P"  }}
                {{ endif }}
        {{ if y.0 == 170 }}
                {{ formfield "hraA9P"  }}
                {{ endif }}
        {{ if y.0 == 190 }}
                {{ formfield "hraA10P"  }}
                {{ endif }}
                </td>
    </tr>
    <tr>
        <th>B</th><td><b>{{ y.5 }}</b><br>{{ y.6 }} - C2</td><td><b>{{ y.7 }}</b><br>{{ y.8 }}</td>
    </tr>
</table>

</div>
    {{ endfor }}
</div>
<br>
<div class="two-cell-table">
  <table>
    <tr>
      <td>Kterou z výše uvedených her chcete hrát? <br>{{ formfield "PreferenceA" }}</td>

    </tr>
  </table>
</div>
<br>
{{ next_button }}
{{ endblock }}

